body {
	background-color: #ECECED;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:550px;
	line-height: 1.35;
	margin-top:90px;
	font-family: "Hind","Helvetica","Arial"
}

#me {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	margin-bottom:50px;
	width:400px;
}

a:link {
	color:#6B5A51;
	text-decoration:none;
}

a:visited {
	color:#6B5A51;
	text-decoration:none;
}

h1 {
	font-size:18px;
}